<% provide(:title, 'Home') %>
<% if signed_in? %>

 <div class="center">
    <div class="punch-line">Welcome to Adjectivs</div>

    <div class="intro">
      This is the home page for the Adjectivs.
    </div>
    <%= link_to "Shopping now!", products_path,
                                class: "btn btn-large btn-primary signup" %>

    
    
  </div>


<% else %>
  <div class="center">
    <h1 id="punch-line">Welcome to Adjectivs</h1>

    <div class="intro">
      This is the home page for the Adjectivs.
    </div>
    
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary signup" %>
    <%= link_to "Shopping now!", products_path,
                                class: "btn btn-large btn-primary signup" %>
                            
  </div>

 



<% end %>
